.product-container {
    position: relative;
    margin-right: 40px;
}

.product-image {
    width: 300px;
    height: 300px;
}

.product-name {
    color: white;
    margin-top: 5px;
}
.product-price {
    color: white;
    margin-top: 5px;
}
.product-button__show{
    position: absolute;
    cursor: pointer;
    height: 30px;
    top: 30%;
    left: 30%;
}
.product-button__hidden{
    display: none;
}
