.product-container {
    position: relative;
    margin-right: 40px;
}

.product-image {
    width: 300px;
    height: 300px;
}

.product-name {
    color: #6b6868;
    margin-top: 5px;
}
.product-price {
    color: white;
    margin-top: 5px;
}
.product-button__show{
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    top: 30%;
    left: 30%;
    color: white;
    border: 2px solid white;
    background: transparent;
}
.product-button-description__show{
    display: flex;
    height: 50px;
    align-items: center;
    padding:0 35px;
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    top: 10%;
    left: 30%;
    color: white;
    border: 2px solid white;
    background: transparent;
    text-decoration: none;

}
.product-button__hidden{
    display: none;
}
.product-image__blur{
    width: 300px;
    height: 300px;
    filter: blur(3px);
}
