.slider {
    width: 710px;
    height: 380px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.slider__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}
.slider__top__svg {
    cursor: pointer;
}
