.header {
    min-width: 1196px;
    padding: 40px 40px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    min-width: 512px;
    margin-left: 105px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav__href {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    line-height: 30px;
}

.header-nav__href:hover {
    color: #FF0000;
}

.header__logo {
    /*    */
}

.header__cart {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;

    color: white;
    border: none;
    background-color: green;
    border-radius: 50%;
}
.header__right {
    display: flex;
    margin-right: 90px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 100%;
}

.header__button {
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    line-height: 23px;
    margin-left: 40px;
    height: 38px;
    text-transform: uppercase;
    font-family: "Sora", sans-serif;
    border-radius: 38px;
    width: 135px;
    background-color: #FF0000;
}

.header__button:hover {
    color: rgba(0, 0, 0, 0.94);
}
.container-template__cart{
    position: absolute;
    top: 50px;
    left: 0;
}

